.square {
  // margin: 0.35em;
  height: 2em;
  width: 2em;
  background: grey;
  border: 2px solid black;

  &:hover {
    cursor: pointer;
  }
}

.square--disabled {
  &:hover {
    cursor: default;
  }
}

.square--revealed {
  background: #bdbdbd;
}
.square--explosion {
  background: red;
}
